.forecast {
    margin-top: 100px;
    display: grid;
}

.title{ 
    color: #000000;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.daily-item {
    background-color: rgba(255, 255, 255, 0.879); 
    border-radius: 8px;
    height: 60px;
    margin: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px ;
}

.icon-small {
    width: 40px;
}

.day {
    color: #212121;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #757575;
}

.daily-details-grid {
    background-color: rgba(255, 255, 255, 0.879); 
    border-radius: 8px;
    padding: 5px 15px;
    margin: 25px 25px;
}
.daily-details-grid-item {
    color: #212121;
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}