.weather {
    width: 1000px;
    border-radius: 8px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #212121;
    background-color: hsla(0, 0%, 100%, 0.735);
    margin: 60px auto 60px auto;
    padding: 0 60px 15px 20px;
}
.top, .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currentWeatherTitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: 0.5px; 
}

.seperator {
    height: 2px;
    width: 100%;
    margin: -20px 0 10px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.city, .currentDateAndTime{
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.weather-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    margin: 0;
}

.weather-icon {
    margin-right: 50px;
    width: 100px;
}

.temperature {
    font-weight: 600;
    font-size: 60px;
    width: auto;
    letter-spacing: -px;
    margin: 10px 0 ;
}

.details {
    width: 20%;
    padding-left: 20px;
}
.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 15px;
}