@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #87CEEB, #ADD8E6, #FFD700, #FFA500, #FFF);	
  background-size: 400% 400%;
  animation: gradient 100s ease infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
